@use '../styles/variables' as v;

._sizing {
  flex: 1;
  height: 100vh;
  padding: v.$sizing-main-layout-padding;
}

._layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  @extend ._layout;
  @extend ._sizing;
}
