@use '../../../../styles/variables' as v;
@use '../../../../styles/shadows';
@use 'sass:color' as color;

._sizing {
  width: v.$sizing-tiles-size;
  height: v.$sizing-tiles-size;
  margin: v.$sizing-tiles-margin;
}

._interactions {
  transition: v.$transition;
  cursor: pointer;
  &:hover {
    background-color: color.adjust(v.$color-bg, $lightness: 1.5);
  }
}

._layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  @include shadows.styling;
  @extend ._sizing;
  @extend ._interactions;
  @extend ._layout;
  background-color: transparent;
  border-radius: 5px;

  &.disable {
    &:hover {
      background-color: transparent;
      cursor: auto;
    }
  }
}
