@use '../../../../styles/variables' as v;
@use '../../../../styles/shadows';
@use 'sass:color' as color;

._sizing {
  width: v.$sizing-tiles-size;
  height: v.$sizing-tiles-size;
  margin: v.$sizing-tiles-margin;
}

@media screen and (max-width: 600px){
  ._sizing {
    width: 25vw;
    height: 25vw;
    margin: v.$sizing-tiles-margin;
  }
}
@media screen and (max-width: 350px){
  ._sizing {
    width: 20vw;
    height: 20vw;
    margin: v.$sizing-tiles-margin;
  }
}

._layout {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: v.$radius;
}

@mixin highlightBox ($color) {
  box-shadow:
          0 0 40px color.adjust($color, $alpha: -0.5),
          inset 0 0 v.$sizing-tiles-size/2 color.adjust($color, $alpha: -0.7);
}

.highlight {
  &.p1 {
    @include highlightBox(v.$color-font-primary);
  }
  &.p2 {
    @include highlightBox(v.$color-font-secondary);
  }
  &:active {
    box-shadow: none;
  }
}

.tile {
  @extend ._sizing;
  @extend ._layout;
  transition: v.$transition;
  user-select: none;

  &.available {
    @include shadows.styling;
    cursor: pointer;

    &:hover {
      @extend .highlight;
    }
  }

  &.used {
    background-color: transparent;
  }

  &.disabled {
    @include shadows.styling;
  }

  &.highlight-win {
    @extend .highlight;
  }
}
