$color-bg: #f1f1f1;
$color-font-base: #212121;
$color-font-primary: #36cbf0;
$color-font-secondary: #f75a5a;

$transition: 200ms;

$size-font-title: 32px;
$size-font-subtitle: 32px;
$size-font-paragraph: 24px;

$weight-title: bold;
$weight-paragraph: normal;
$weight-subtitle: $weight-paragraph;

$sizing-font-padding-title: 20px 0px;
$sizing-font-padding-normal: 10px 0px;
$sizing-main-layout-padding: 0 80px;
$sizing-tiles-size: 150px;
$sizing-tiles-margin: 10px;
